@font-face {
  font-family: 'Helvetica Neue';
  font-weight: normal;
  src: local('Helvetica Neue'), url('./assets/fonts/HelveticaNeueCyr-Roman.ttf');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: bold;
  src: local('Helvetica Bold'), url('./assets/fonts/HelveticaNeueCyr-Bold.ttf')
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  src: local('Helvetica Bold'), url('./assets/fonts/HelveticaNeueCyr-Italic.ttf')
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: bold;
  font-style: italic;
  src: local('Helvetica Bold'), url('./assets/fonts/HelveticaNeueCyr-BoldItalic.ttf')
}

:root {
  --color-bg: rgb(247, 247, 247);
  --color-text: rgb(33, 33, 33);
  --color-disabled: rgb(112, 108, 97);  
  /* --color-bg: var(--tg-theme-bg-color);
  --color-text: var(--tg-theme-text-color); */
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', comic;
  color: var(--color-text);
  scrollbar-width: 0;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

input, textarea, button {
  font-family: inherit
}

.page-title {
  width: 100%;
  text-align: center;
}

.outline-btn {
  background-color: var(--color-bg);
  color: var(--color-text);
  border: 1px solid var(--color-text);
}

.disabled-btn {
  background-color: grey
}

.fullw {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-field {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.form-field label {
  display: block;
  margin-bottom: 8px;
}

input, select, option {
  box-sizing: border-box;
  width: 100%;
  display: block;
  padding: 4px 12px;
  border: 1px solid var(--color-text);
  border-radius: 4px;
  height: 40px;
  font-size: 16px;
  line-height: 24px;
}

input:focus, select:focus {
  outline: 1px solid var(--color-text);
}

button {
  width: auto;
  max-width: 100%;
  margin: 0;
  outline: none;
  border: 0;
  padding: 12px;
  color: var(--color-bg);
  background-color: var(--color-text);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
  height: 48px;
}
